[Unit]
Description=apt on ipfs
After=network-online.target

[Service]
ExecStart=apt-ipfs -l :12380 -p /var/lib/apt-ipfs/
Restart=always

[Install]
WantedBy=default.target
